<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TEST</title>
  <link rel='stylesheet' href='/stylesheets/common.css'/>
</head>
<body>
  <div class="b-wrap">
    <%- include('../component/gnb.ejs') %>
    <%- include('../component/menu.ejs', {searchForm: searchForm}) %>

    <div class="b-container">
      <div class="summoner-layout">
        <!-- //header start -->
        <div class="summoner-info header">
          <div class="past-rank">
            <ul class="past-rank__list">

            </ul>
          </div>
          <div class="summoner-info__face">
            <div class="profile-icon">
              <% if(border) { %>
                <img class="profile-icon__border-image" src="/images/border/<%= border %>.png"></img>
              <% } %>

              <img src="http://ddragon.leagueoflegends.com/cdn/9.21.1/img/profileicon/<%=summoner.profileIconId%>.png" class="profile-icon__image" >
              <span class="profile-icon__level"><%= summoner.summonerLevel %></span>
            </div>
          </div>
          <div class="summoner-info__profile">
            <div class="profile-info">
              <span class="profile-info__name"><%= summoner.name %></span>   
            </div>
            <div class="profile-buttons">
              <button class="profile-button__button profile-button__button--blue" id="summonerRefreshButton" data-summoner-id="<%=summoner.id%>">전적갱신</button>
            </div>
          </div>
        </div>
        <!-- //header end -->
        <!-- //tab-menu start -->
        <div class="tab-menu">
          <ul id="tabHeaders" class="menu-list">
            <li id="allTab" class="menu-list__item menu-list__item--active">
              <a href="#">종합</a>
            </li>
            <li id="championPage" class="menu-list__item menu-list__item--disable">
              <a href="#">챔피언</a>
            </li>
          </ul>
        </div>
        <!-- //tab-menu end -->
        <!-- //cntent-wrap start-->
        <div class="content-wrap">
          
          <div class="summoner-layout-summary" data-tab-data-url="" style="display: block;">
            <div class="side-content">
              <div class="side-content__tier box">
                <div class="emblem">
                  <% if(RANKED_SOLO) { %>
                    <img class="emblem-box__img" src="/images/emblems/<%= RANKED_SOLO.emblem %>.png">
                  <% } else { %>
                    <img class="emblem-box__img" src="/images/emblems/default.png">
                  <% } %>
                </div>
                <div class="tier-rank-info">
                  <div class="tier-rank-info__rank-type">솔로랭크</div>

                  <% if(RANKED_SOLO) { %>
                    <div class="tier-rank-info__tier-rank"><%= RANKED_SOLO.tier %></div>
                    <div class="tier-rank-info__tier-info">
                      <span class="lp"><%= RANKED_SOLO.leaguePoints %> LP</span> / 
                        <%= RANKED_SOLO.wins %>승 <%= RANKED_SOLO.losses %>패
                    </div>
                    <div class="tier-rank-info__win-rate">승률 <%= RANKED_SOLO.winRate %>%</div>
                  <% } else { %>
                    <div>Unranked</div>
                  <% } %>
                  
                </div>
              </div>
              <div class="side-content__tier box">
                <div class="emblem emblem--sub">

                  <% if(RANKED_FLEX) { %>
                    <img class="emblem-box__img" src="/images/emblems/<%= RANKED_FLEX.emblem %>.png">
                  <% } else { %>
                    <img class="emblem-box__img" src="/images/emblems/default.png">
                  <% } %>

                </div>
                <div class="tier-rank-info">
                  <div class="tier-rank-info__rank-type">자유 5:5 랭크</div>

                  <% if(RANKED_FLEX) { %>
                    <div class="tier-rank-info__tier-rank"><%= RANKED_FLEX.tier %></div>
                    <div class="tier-rank-info__tier-info">
                      <span class="lp"><%= RANKED_FLEX.leaguePoints %> LP</span> / 
                        <%= RANKED_FLEX.wins %>승 <%= RANKED_FLEX.losses %>패
                    </div>
                    <div class="tier-rank-info__win-rate">승률 <%= RANKED_FLEX.winRate %>%</div>
                  <% } else { %>
                    <div>Unranked</div>
                  <% } %>

                </div>
              </div>
            </div>
            <div class="main-content">
              <!-- //navigation start -->
              <div class="navigation box">
                <ul class="list">
                  <li class="list__item list__item--active" data-type="total">
                    <a class="list__item-link" href="#">전체</a>
                  </li>
                  <li class="list__item list__item" data-type="solorank">
                    <a class="list__item-link" href="#">솔로랭크</a>
                  </li>
                  <li class="list__item list__item" data-type="flexrank">
                    <a class="list__item-link" href="#">자유랭크</a>
                  </li>
                  <li class="list__item list__item" data-type="etc">
                    <select name="etc" class="list__item-queue-select">
                        <option value="">큐타입</option>
                        <option value="학생">일반 (비공개 선택)</option>
                        <option value="회사원">무작위 총력전</option>
                        <option value="기타">AI 상대 대전</option>
                        <option value="기타">이벤트 게임</option>
                    </select>
                  </li>
                </ul>
              </div>
              <!-- //navigation end -->
              <!-- //average-stats start -->
              <div class="average-stats">
                <div class="match">
                  <div class="match__stats">20전 9승 10패</div>
                  <div class="match__graph">
                    <div id=matchGraph>
                      Graph HERE
                    </div>
                  </div>
                  <div class="match__KDA">
                    <div class="KDA">5.4 / 5.0 / 7.9</div>
                    <div class="KDARatio">
                      <span>2.65:1</span> 
                      <span>(44%)</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //average-stats end -->
            </div>
          </div>
        
        </div>
        <!-- //cntent-wrap end-->
      </div>
    </div>

  
    <%= summonerString %>
    
  </div>

</body>

<script>
let button = document.getElementById("summonerRefreshButton");
button.addEventListener("click", (e) =>{
  console.warn(e.target.dataset.summonerId, e);
  fetch("/summoner/ajax/renew.json/", {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({summonerId: e.target.dataset.summonerId})
  })
  .then((res) => {
    console.warn(res);
  })
  .catch((err) => {
    console.error(err);
  });
});
</script>

</html>